<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211960328862-urhihmmts3kmi92hej57vqe4j2mu1qno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211960328862-urhihmmts3kmi92hej57vqe4j2mu1qno</string>
	<key>API_KEY</key>
	<string>AIzaSyCgPPdR82e1cNNnogDlJvuKOiUNm-pMY3A</string>
	<key>GCM_SENDER_ID</key>
	<string>211960328862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaobarros.frasedodia</string>
	<key>PROJECT_ID</key>
	<string>frase-do-dia-4f935</string>
	<key>STORAGE_BUCKET</key>
	<string>frase-do-dia-4f935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211960328862:ios:6a7d166a3efd92b755018f</string>
</dict>
</plist>